/* =========fonts============== */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    background-color:#000;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

ul li{
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.title__section {
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.006em;
    margin-bottom: 40px;
}
.btn__primary {
    padding: 12px 24px;
    background-color: #EE8313 ;
    font-weight: 600;
}
.btn__primary:hover{
    background-color: #eed813 ;
}
.btn__secondary{
    padding: 12px 24px;
    font-weight: 600;
    color: #EE8313;
    border: 1px solid #EE8313;
    line-height: 24px;
    transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
}
.btn__secondary:hover{
    background-color: #EE8313;
    color: #000;
}
/* ==========================header========================== */
#header__section{
    padding: 40px 0 107px 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.header__logo {
   
}
.header__logo-img {
    width: 48px;
    height: 48px;
    
}
.nav__main {
    margin-left: auto;
}
.nav__main-list {
    display: flex;
    gap: 30px;
    margin-right: 72px;
}
.nav__main-item {
}
.nav__main-link{
    font-size: 16px;
}

.nav__main-link:hover {
    color: #EE8313;

}

.header__btn:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ====================Список выпадающий========================= */
.menu{
    display: flex;
  }
  
  .menu li{
    width: 200px;
    list-style: none;
    
    position: relative;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
  }
  
  .menu a:hover {
    background: #808291;
  }
  
  .menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
  }
  
  .menu li:hover > ul {
    display: block;
  }
  
  .menu ul ul {
    display: none;
    top: 0;
    left: 100%;
  }

/* =================BANNER======================= */

#banner__section{
    position: relative;
    padding-bottom: 60px;
    overflow: hidden;
}
.banner {
    max-width: 475px;
    padding-top: 40px;
}


.banner__header {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: .6px;
}
.banner__text {
    margin: 32px 0 48px;
    font-size: 17px;
    color: rgb(255, 255, 255, 80%);
}
.banner__links-wrap {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 40px;
}

.banner__link {
}
.banner__btn {


}
.banner__features {
}
.banner__features-text {
    font-weight: 600;
    line-height: 24px;

}
.banner__features-text:first-child{
    margin-right: 40px;
}
.banner__features-text-strong {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-right: 16px;
    vertical-align: sub;
}
.banner__img {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    animation: move 4s  infinite;
    -webkit-animation: move 3s  infinite;
}

.banner__img::before{
    content: '';
    z-index: 2;
    position: absolute;
    width: 92%;
    height: 100%;
    top: 0;
    right: 0;
    background: url('/img/baner-main.png') no-repeat;
    
  
}
@keyframes move{
        0%   {transform: translateY(0px);}
        25%  {transform: translateY(1px)}
        29%  {transform: translateY(2px)}
        33%  {transform: translateY(3px)}
        47%  {transform: translateY(0px)}
        58%  {transform: translateY(1px)}
        62%  {transform: translateY(2px)}
        66%  {transform: translateY(3px)}
        75%  {transform: translateY(1px)}
        100% {transform: translateY(0px)}
    }

.banner__img::after{
    content: '';
    position: absolute;
    width: 72%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgb(52, 52, 52, 30%);
    z-index: 1;
}

/* =============RENT SECTION================== */
#rent__section{
    padding: 120px 0;
}


.rent-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.rent {
    position: relative;
    height: 524px;
    background: url(/img/rent.jpg) 50%/cover no-repeat;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.rent:hover{
    box-shadow: 0px 6px 35px rgb(159, 226, 14);
}
.rent:nth-child(2){
    background-image: url(/img/rent_2.jpg);
}
.rent:nth-child(3){
    background-image: url(/img/rent_3.jpg);
}
.rent:nth-child(4){
    background-image: url(/img/rent_4.jpg);
}
.rent__name {
    position: absolute;
    top: 48px;
    left: 48px;
    font-size: 40px;
    letter-spacing: 0.6px;
}
.rent__link {
    position: absolute;
    font-size: 24px;
    line-height: 32px;
    bottom: 48px;
    right: 60px;
    padding-right: 30px;
}
.rent__link:hover{
    color: #FFCC2C;


}
.rent__link::after{
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 8px;
    height: 16px;
   
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: url('/img/arrow.svg') 50%/cover no-repeat;
}


/* ============Services================ */
#services__section{
    padding-bottom: 120px;
}
.container {
}
.title__section {
}
.services__section--title {
    margin-bottom: 60px;
    text-align: left;
}
.services__wrap {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
   
}
.services {
    cursor: pointer;
    transition: 0.5s;
}

.services__img {
    margin-bottom: 24px;
}

.services:hover{
    box-shadow: 0px 6px 35px rgb(159, 226, 14);
}
.services__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;

}
.services__text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.006em;
    color: rgb(255, 255, 255, 80%);
}


/* ==============Destination================= */

#destination__section{
    padding-bottom: 162px;
}

.destination__section--title{
    width: 590px;
    margin: 0 auto 40px auto;

}
.destination__wrap {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.destination {
    background-color: #171717;
}
.destination__img {
    cursor: pointer;
    transition: 0.5s;
}
.destination__img:hover{
    opacity: 0.5;
}
.destination__info {
    padding: 24px;
}
.destination__title {
    font-size: 24px;
    line-height: 32px;
}
.destination__text {
    margin: 10px 0 25px;
    color: rgb(255, 255, 255, 80%);
}
.destination__price {
    position: relative;
    display: block;
    font-weight: 600;
    margin-bottom: 17px;
    padding-left: 42px;
}
.destination__price::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    background: url(/img/car_icon.svg) no-repeat;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.destination__link {
    color: #EE8313;
}
.destination__link:hover {
    color: #EE8313;
}

/* ==============Location============== */
#location__section{
    padding-bottom: 102px;
}

/* ==========Footer=============== */
#footer__section{
    padding-top: 40px;
    background-color: #1F1905;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.footer__about {
}
.footer__logo--wrap {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 64px;
    font-weight: 600;
}
.footer__about-img {
    width: 48px;
    height: 48px;
}
.footer__about-header {
}
.footer__about-text {
    max-width: 235px;
    font-size: 18px;
    line-height: 32px;
}
.footer__nav--wrap {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin: 40px 100px 0 auto;
}
.footer__nav {
}
.footer__nav--header {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 20px;
}
.footer__nav-list {
}
.footer__nav-item {
    margin-bottom: 28px;
    line-height: 20px;
    color: rgb(255, 255, 255, 80%);
}
.footer__nav-link:hover {
    color: #EE8313;
}
.footer__social {
  
}
.footer__social-link {
    display: block;
    width: 120px;
    height: 30px;
    margin-bottom: 45px;
    background: url(/img/social_1.svg) 50%/cover no-repeat;
}
.footer__social-link:nth-child(2){
    background-image: url(/img/social_2.svg);
}
.footer__social-link:nth-child(3){
    background-image: url(/img/social_3.svg);
    margin-bottom: 0;
}
.footer__copy {
    background-color: #EE8313;
    padding: 20px 0;
}
.footer_copy-text {
    text-align: center;

}



@media( max-width: 991.98px){
    .banner{
        max-width: 800px;
        text-align: center;
    }
    .banner__img{
        display: none;
    }
    .banner__links-wrap {
        margin-left: 200px;
    }
     

}

/* Телефон*/
@media( max-width: 569.99px){
    .banner__links-wrap {
        margin-left: 100px;
    }
    .rent-wrap {
        display: inline;
       
        
    }
    .rent{
        margin-top: 15px;
    }
    .services__wrap {
        display: inline;
    }
    .services {
        margin-top: 15px;
        text-align: center;
    }
    .services__section--title{
        font-size: 40px;
    }
    .destination__wrap {
        display: inline; 
    }
    .destination {
        text-align: center;
        margin-top: 25px;
    }
    .destination__price::before{
        left: 134px;
    }
   .destination__section--title{
        font-size: 35px;
   }
   .footer__nav--wrap{
    display: inline;
    margin: 4px 75px 4px;

   }
}